  <%= form_with(model: service, local: true) do |form| %>
    <% if service.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

        <ul>
          <% service.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
<body class="bg-light">

  <main>
        <div class="field mb-3">
          <%= form.label :service_type, class:"form-label, lead" %>
          <%= form.text_field :service_type, class:"form-control", placeholder:"e.g. Daily Flat Rate" %>
        </div>

        <div class="field mb-3">
          <%= form.label :description, class:"form-label, lead" %>
          <%= form.text_field :description, class:"form-control", placeholder:"e.g. One investigator, 8 - 10 hours on site" %>
        </div>

        <div class="field mb-3">
          <%= form.label :price, class:"form-label, lead" %>
          <%= form.text_field :price, class:"form-control" %>
        </div>

    <div class="actions mb-3">
      <!-- https://stackoverflow.com/questions/13167535/how-to-put-icon-in-rails-submit-button -->
      <%= button_tag( :class => "bottom-button") do %>
        Save Service <i class="fas fa-paper-plane"></i>
      <% end %>
    </div>
  </main>
</body>
<% end %>
