<p id="notice"><%= notice %></p>

<div class="header">
  <h1>Services</h1>
</div>

<!-- https://getbootstrap.com/docs/5.0/content/tables/ -->
<main>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Service Type</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.service_type %></td>
        <td><%= service.description %></td>
        <td><%= service.price %></td>
        <td><%= link_to 'Show', service, style: "color: #457B9D; text-decoration: none; font-family: Arial, Helvetica, sans-serif"  %></td>
        <td><%= link_to 'Edit', edit_service_path(service), style: "color: #457B9D; text-decoration: none; font-family: Arial, Helvetica, sans-serif" %></td>
        <td><%= link_to 'Destroy', service, style: "color: #E63746; text-decoration: none; font-family: Arial, Helvetica, sans-serif", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</main>

<%= link_to 'New Service', new_service_path, class:"bottom-button" %>
<!--Need space for ipad to see the button-->
<br><br><br><br><br>