<p id="notice"><%= notice %></p>

<div class="jumbotron bg-light", style="border-radius:30px">
  <br />
  
  <header>
  <h1 class="display-4", style="padding:10px">
      <strong>Service type:</strong>
      <%= @service.service_type %>
  </h1>
  </header>

  <main>
  <p class="lead", style="padding:10px">
    <strong>Description:</strong>
    <%= @service.description %> |
    <strong>Price:</strong>
    <%= @service.price %>
    <hr />
  </p>
</main>

  <p class="my-4", style="padding:10px">
    <%= link_to 'Edit', edit_service_path(@service), class:"btn btn-secondary" %> |
    <%= link_to 'Back', services_path, class:"btn btn-dark" %>
  </p>
  <br />
</div>


<!--
<p>
  <strong>Service type:</strong>
  <%= @service.service_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
-->
