<%= form_with(model: firm, local: true) do |form| %>
  <% if firm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(firm.errors.count, "error") %> prohibited this firm from being saved:</h2>

      <ul>
        <% firm.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :invoice_data %>
    <%= form.text_field :invoice_data %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :maiden_name %>
    <%= form.text_field :maiden_name %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.text_field :dob %>
  </div>

  <div class="field">
    <%= form.label :ssn %>
    <%= form.text_field :ssn %>
  </div>

  <div class="field">
    <%= form.label :dl_state %>
    <%= form.text_field :dl_state %>
  </div>

  <div class="field">
    <%= form.label :dl_number %>
    <%= form.text_field :dl_number %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="field">
    <%= form.label :client_request %>
    <%= form.text_field :client_request %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
