<p id="notice"><%= notice %></p>

<div class="header"><h1>Requests</h1>
</div>

<main>
  <table class="table">
    <thead>
      <tr>
        <th>Invoice Data</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Maiden Name</th>
        <th>DOB</th>
        <th>SSN</th>
        <th>DL State</th>
        <th>DL Number</th>
        <th>Notes</th>
  <!--      <th>Client Request</th>-->
        <th>Services Requested</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% if !@firms.nil? %>
      <% @firms.each do |firm| %>
        <tr>
          <td data-title="Invoice Data" class="view-invoice-cell">
            <%= link_to firm do %>
            View Invoice: <%= firm.id %><br>
            <% end %>
            <%=firm.created_at.strftime("%-m/%d/%y %-I:%M ET")%><br>
            Updated: <%=time_ago_in_words(firm.updated_at)%> ago</td>
          <td data-title="First Name"><%= firm.first_name %></td>
          <td data-title="Middle Name"><%= firm.middle_name %></td>
          <td data-title="Last Name"><%= firm.last_name %></td>
          <td data-title="Maiden Name"><%= firm.maiden_name %></td>
          <td data-title="DOB" class="dob-ssn-cells"><%= firm.dob %></td>
          <td data-title="SSN" class="dob-ssn-cells"><%= firm.ssn %></td>
          <td data-title="DL State"><%= firm.dl_state %></td>
          <td data-title="DL Number"><%= firm.dl_number %></td>
          <td data-title="Notes"><%= firm.notes %></td>
  <!--        <td><%#= firm.client_request %></td>-->
          <td data-title="Services Requested" class="dob-ssn-cells"><% firm.services.each do |service| %>
              <li><%= service.service_type %> - $<%= service.price %></li>
            <% end %></td>
          <td><%= link_to 'Show', firm, class: "show-edit-buttons"%></td>
          <td><%= link_to 'Edit', edit_firm_path(firm), class: "show-edit-buttons"%></td>
          <td><%= link_to 'Destroy', firm, class: "destroy-button", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</main>

<%= link_to 'New Request', new_firm_path, class:"bottom-button" %>
<!--Need space for ipad to see the button-->
<br><br><br><br><br>
