<p id="notice"><%= notice %></p>

<div class="header"><h1>Download Manager</h1>
</div>

<main>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Download Request</th>
    </tr>
  </thead>

  <tbody>
    <% @downloads.each do |download| %>
      <tr>
        <td data-title="ID"><%= download.id %></td>
        <td data-title="Title"><%= download.title %></td>
        <%if download.file.url.present? %>
          <td data-title="Download Request><%= link_to "Download", download.file.url, target: "_blank" %></td>
        <% else %>
          <td>Not exist</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</main>

<br>
<!-- FIXME (Try finding a different way to do this) -->
<% if session[:userinfo] != nil && session[:userinfo][:info][:email] == @admin%> 
  <%= link_to 'Create Download Request', new_download_path, class:"btn btn-primary" %>
<% end %>
