<p id="notice"><%= notice %></p>

<div class="header"><h1>Clients</h1>
</div>

<main>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Client Name </th>
      <th scope="col">Company </th>
      <th scope="col" class="email-header">Email </th>
      <th scope="col">Phone </th>
      <th scope="col">Fax </th>
      <th scope="col">Address </th>
      <th scope="col">City </th>
      <th scope="col">State </th>
      <th scope="col">Zip </th>
      <th class="client-id-header" scope="col">Client ID </th>
      <th scope="col">Notes </th>
      <th scope="col">Status </th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% if session[:userinfo][:info][:email] == @admin %>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.client_name %></td>
          <td><%= client.company %></td>
          <td class="email-cell"><%= client.email %></td>
          <td class="phone-fax-cell"><%= client.phone %></td>
          <td class="phone-fax-cell"><%= client.fax %></td>
          <td><%= client.address %></td>
          <td><%= client.city %></td>
          <td><%= client.state %></td>
          <td><%= client.zip %></td>
          <td><%= client.id %></td>
          <td><%= client.notes %></td>
          <td><%= client.status%></td>
          <!--        <td><%#= client.status ? "active" : "inactive"%></td>-->
  <!--        <td><%#= client.total_requests %></td>-->
          <td><%= link_to 'Show', client, class: "show-edit-buttons"%></td>
          <td><%= link_to 'Edit', edit_client_path(client), class: "show-edit-buttons"%></td>
          <td><%= link_to 'Destroy', client, class: "destroy-button", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% else %>
        <% if !@currentclient.nil? %>
          <tr>
            <td><%= @currentclient.client_name %></td>
            <td><%= @currentclient.company %></td>
            <td class="email-cell"><%= @currentclient.email %></td>
            <td class="phone-fax-cell"><%= @currentclient.phone %></td>
            <td class="phone-fax-cell"><%= @currentclient.fax %></td>
            <td><%= @currentclient.address %></td>
            <td><%= @currentclient.city %></td>
            <td><%= @currentclient.state %></td>
            <td><%= @currentclient.zip %></td>
            <td><%= @currentclient.id %></td>
            <td><%= @currentclient.notes %></td>
            <td><%= @currentclient.status%></td>
            <!--        <td><%#= client.status ? "active" : "inactive"%></td>-->
    <!--        <td><%#= client.total_requests %></td>-->
            <td><%= link_to 'Show', @currentclient, class: "show-edit-buttons"%></td>
            <td><%= link_to 'Edit', edit_client_path(@currentclient), class: "show-edit-buttons"%></td>
            <td><%= link_to 'Destroy', @currentclient, class: "destroy-button", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
</main>

<%= link_to 'New Client', new_client_path, :class => "bottom-button" %>
<!--Need space for ipad to see the button-->
<br><br><br><br><br>


