<p id="notice"><%= notice %></p>

<div class="header">
  <h1><a href="home/index"><img src=<%=asset_path('TalonAgencyLogo.png')%> width="45" height="41" class="d-inline-block align-top" alt=""></a>
    Clients</h1>
</div>

<main>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Client Name </th>
      <th scope="col">Company </th>
      <th scope="col">Email </th>
      <th scope="col">Phone </th>
      <th scope="col">Fax </th>
      <th scope="col">Address </th>
      <th scope="col">City </th>
      <th scope="col">State </th>
      <th scope="col">Zip </th>
      <th style="white-space: nowrap;" scope="col">Client ID </th>
      <th scope="col">Notes </th>
      <th scope="col">Status </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.client_name %></td>
        <td><%= client.company %></td>
        <td><%= client.email %></td>
        <td style="white-space: nowrap"><%= client.phone %></td>
        <td style="white-space: nowrap"><%= client.fax %></td>
        <td><%= client.address %></td>
        <td><%= client.city %></td>
        <td><%= client.state %></td>
        <td><%= client.zip %></td>
        <td><%= client.client_id %></td>
        <td><%= client.notes %></td>
        <td><%= client.status%></td>
        <!--        <td><%#= client.status ? "active" : "inactive"%></td>-->
<!--        <td><%#= client.total_requests %></td>-->
        <td><%= link_to 'Show', client, style: "color: #457B9D; text-decoration: none" %></td>
        <td><%= link_to 'Edit', edit_client_path(client), style: "color: #457B9D; text-decoration: none" %></td>
        <td><%= link_to 'Destroy', client, style: "color: #E63746; text-decoration: none", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</main>

<%= link_to 'New Client', new_client_path, :class => "bottom-button" %>
<!--Need space for ipad to see the button-->
<br><br><br><br><br>


