<div>
  <nav class="navbar navbar-expand-lg navbar-custom shadow">
    <div class="container-fluid" >
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-auto">
          <a href="/"><img src=<%=asset_path('TalonAgencyLogo.png')%> width="45" height="41" class="nav-image d-inline-block align-top" alt=""></a>
          <a class="nav-item navbar-element mr-auto" href="<%= services_path %>">Services</a>
          <a class="nav-item navbar-element" href="<%= firms_path %>">Requests</a>
          <a class="nav-item navbar-element" href="<%= clients_path %>">Clients</a>
          <a class="nav-item navbar-element" href="<%= downloads_path %>">Downloads</a>

        </div>
      </div>
    </div>
    <a class="nav-item navbar-signup" href="/home/about">About</a>
    <div class="navbar-nav ms-auto">
      <% if !session[:userinfo].nil? %>
        <div class="dropdown show">
          <a class="navbar-profile-dropdown-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle"></i>
            <% if session[:userinfo].extra.raw_info.given_name == nil %>
              Account
            <% else %>
              <%= session[:userinfo].extra.raw_info.given_name %> <!-- change this to be first name eventually? -->
            <% end %>
          </a>
          <div class="dropdown-menu navbar-dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/home/show">Account</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </div>
      <% else %>
        <%= link_to 'Login', 'auth/auth0', method: :post, class: 'nav-item navbar-login', 'aria-current' => "page" %>
      <% end %>
    </div>
  </nav>
</div>