<!-- https://getbootstrap.com/docs/5.0/components/navs-tabs/ -->
<!--<nav class="nav nav-pills flex-column flex-sm-row">-->
  <!-- <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Home</a> -->
  <%#= link_to 'Talon Agency', root_path, class:"flex-sm-fill text-sm-center nav-link active", 'aria-current' => "page" %>
  <!-- <a class="flex-sm-fill text-sm-center nav-link" href="#">Longer nav link</a> -->
  <%#= link_to 'Services', services_path, class:"flex-sm-fill text-sm-center nav-link active"%>
  <!-- <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a> -->
  <%#= link_to 'Clients', clients_path, class:"flex-sm-fill text-sm-center nav-link active"%>
  <%#= link_to 'Requests', firms_path, class:"flex-sm-fill text-sm-center nav-link active"%>
  <!-- <a class="flex-sm-fill text-sm-center nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
<!--</nav>-->
<!--<div class="banner">-->

<!--  <img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="45" alt="" class="d-inline-block align-middle mr-2">-->
<!--  <h2>Talon Agency</h2>-->
<!--</div>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Friend App</a> -->
    <img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="45" alt="" class="d-inline-block align-middle mr-2">

    <%= link_to 'Talon_Agency', root_path, class:"flex-sm-fill text-sm-left nav-link active", 'aria-current' => "page" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Link</a> -->
          <%= link_to 'Services', services_path, class:"flex-sm-fill text-sm-center nav-link active"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Clients', clients_path, class:"flex-sm-fill text-sm-center nav-link active"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Requests', firms_path, class:"flex-sm-fill text-sm-center nav-link active"%>
        </li>


        <%# if user_signed_in? %>
<!--          <li class="nav-item">-->
            <%#= link_to "Add Friend", new_friend_path, class:"nav-link" %>
<!--          </li>-->
<!--          <li class="nav-item">-->
            <%#= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
<!--          </li>-->
<!--          <li class="nav-item">-->
            <%#= link_to "Edit Profile", edit_user_registration_path, class:"nav-link" %>
<!--          </li>-->
        <%# else %>
<!--          <li class="nav-item">-->
            <%#= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
<!--          </li>-->
<!--          <li class="nav-item">-->
            <%#= link_to "Sign In", new_user_session_path, class:"nav-link" %>
<!--          </li>-->
        <%# end %>
      </ul>

      <div class="text-right">
        <%= link_to 'My Login', 'auth/auth0', method: :post, class: 'flex-sm-fill text-sm-center nav-link', 'aria-current' => "page" %>

        <%# if session[:userinfo] %>
          <%#= link_to 'Auth0 Logout', '/logout',  class: 'flex-sm-fill text-sm-center nav-link', 'aria-current' => "page" %>
        <%# else %>
          <%#= link_to 'Auth0 Login', 'auth/auth0', method: :post, class: 'flex-sm-fill text-sm-center nav-link', 'aria-current' => "page" %>
        <%# end %>
      </div>
      <div class="text-right">
        <%= link_to 'Logout', '/logout',  class: 'flex-sm-fill text-sm-center nav-link', 'aria-current' => "page" %>

        <%# if session[:userinfo] %>
        <%#= link_to 'Auth0 Logout', '/logout',  class: 'flex-sm-fill text-sm-center nav-link', 'aria-current' => "page" %>
        <%# else %>
        <%#= link_to 'Auth0 Login', 'auth/auth0', method: :post, class: 'flex-sm-fill text-sm-center nav-link', 'aria-current' => "page" %>
        <%# end %>
      </div>

<!--      <form class="d-flex">-->
        <!--<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
    </div>
  </div>
</nav>