<p id="notice"><%= notice %></p>

<div class="header"><h1>About</h1>
</div>

<hr class="divider">



<section class="header  text-center">
  <h2>TalonAgency.com Design Team</h2>
</section>

<div class="container">
  <div class="row row-cols-2">
    <div class="col"><div class="panel panel-default">
      <div class="profile-title">Developer</div>
      <div class="panel-heading">Dominick Licciardi</div>
      <%= image_tag("placeholder-profile.jpg", :alt => "Placeholder", :class => "profile-pictures") %>
      <p class="profile-info"><br>Bio:<br> Computer Science - MSU 2021 <br> Web-App | Network Security | Machine Learning <br>
        <a href=https://www.linkedin.com/in/dominicklicciardi/>https://www.linkedin.com/in/dominicklicciardi</a></p>

    </div></div>

    <div class="col"><div class="panel panel-default">
      <div class="profile-title">Scrum Master</div>
      <div class="panel-heading">Warren Ramos</div>
      <%= image_tag("warren-profile.jpg", :alt => "Warren' Image", :class => "profile-pictures") %>
      <p class="profile-info">Bio:</p>
      <p class="profile-info">Linkedin:<br> <a href=https://www.linkedin.com/in/warren-joseph-ramos>https://www.linkedin.com/in/warren-joseph-ramos</a></p>

    </div></div>

    <div class="col"><div class="panel panel-default">
      <div class="profile-title">Developer</div>
      <div class="panel-heading">Jose Valasquez</div>
      <%= image_tag("jose-profile.jpg", :alt => "Jose Image", :class => "profile-pictures") %>
      <p class="profile-info">Bio:<br> Jose is in his senior year at Metropolitan State University and will graduate Spring 2021 with a bachelors degree in Computer Science. As part of both the backend and front-end teams, he helped with meeting sprint objectives and goals. His favorite part of working on the Talon Agency Project was working with and learning from other fellow team members. Jose is looking to pursue a career in web development after graduation</p>
      <p class="profile-info">Linkedin:</p>
    </div></div>

    <div class="col"><div class="panel panel-default">
      <div class="profile-title">Developer</div>
      <div class="panel-heading">Grant Schumacher</div>
      <%= image_tag("placeholder-profile.jpg", :alt => "Placeholder", :class => "profile-pictures") %>
      <p class="profile-info">Bio:</p>
      <p class="profile-info">Linkedin:</p>
    </div></div>

    <div class="col"><div class="panel panel-default">
      <div class="profile-title">Developer</div>
      <div class="panel-heading">Stuart Griffin</div>
      <%= image_tag("placeholder-profile.jpg", :alt => "Placeholder", :class => "profile-pictures") %>
      <p class="profile-info">Bio:</p>
      <p class="profile-info">Linkedin:</p>
    </div></div>

    <div class="col"><div class="panel panel-default">
      <div class="profile-title">Developer</div>
      <div class="panel-heading">Mohammad Mansoor</div>
      <%= image_tag("muhammad-profile.jpg", :alt => "Muhammad Image", :class => "profile-pictures") %>
      <p class="profile-info">Bio:</p>
      <p class="profile-info">Linkedin:<br> <a href=https://www.linkedin.com/in/mohammad-mansoor-875678197>https://www.linkedin.com/in/mohammad-mansoor</a></p>
      <!--      <p class="profile-info"> Linkedin:  https://www.linkedin.com/in/mohammad-mansoor-875678197</p>-->
    </div></div>

    <div class="col"><div class="panel panel-default">
      <div class="profile-title">Developer</div>
      <div class="panel-heading">Ian Mutahi</div>
      <%= image_tag("placeholder-profile.jpg", :alt => "Placeholder", :class => "profile-pictures") %>
      <p class="profile-info">Bio:</p>
      <p class="profile-info">Linkedin:</p>
    </div></div>
  </div>
</div>

<hr class="divider">
