<p id="notice"><%= notice %></p>

<div class="header"><h1>About</h1>
</div>

<hr class="divider">


<section class="jumbotron  text-center">
  <h2>TalonAgency.com Design Team</h2>
</section>

<div class="container">
  <div class="row row-cols-2">
    <div class="col"><div class="panel panel-default">
      <div class="profile-title">Project Manager</div>
      <div class="panel-heading">Dominick Licciardi</div>
      <%= image_tag("placeholder-profile.jpg", :alt => "Placeholder", :class => "profile-pictures") %>
      <p class="profile-info">Bio</p>
    </div></div>

    <div class="col"><div class="panel panel-default">
      <div class="profile-title">Scrum Master</div>
      <div class="panel-heading">Warren Ramos</div>
      <%= image_tag("warren-profile.jpg", :alt => "Warren' Image", :class => "profile-pictures") %>
      <p class="profile-info">Bio</p>
    </div></div>

    <div class="col"><div class="panel panel-default">
      <div class="profile-title">Developer</div>
      <div class="panel-heading">Jose Valasquez</div>
      <%= image_tag("jose-profile.jpg", :alt => "Jose Image", :class => "profile-pictures") %>
      <p class="profile-info">Bio</p>
    </div></div>

    <div class="col"><div class="panel panel-default">
      <div class="profile-title">Developer</div>
      <div class="panel-heading">Grant Schumacher</div>
      <%= image_tag("placeholder-profile.jpg", :alt => "Placeholder", :class => "profile-pictures") %>
      <p class="profile-info">Bio</p>
    </div></div>

    <div class="col"><div class="panel panel-default">
      <div class="profile-title">Developer</div>
      <div class="panel-heading">Stuart Griffin</div>
      <%= image_tag("placeholder-profile.jpg", :alt => "Placeholder", :class => "profile-pictures") %>
      <p class="profile-info">Bio</p>
    </div></div>

    <div class="col"><div class="panel panel-default">
      <div class="profile-title">Developer</div>
      <div class="panel-heading">Mohammad Mansoor</div>
      <%= image_tag("muhammad-profile.jpg", :alt => "Muhammad Image", :class => "profile-pictures") %>
      <p class="profile-info">Bio</p>
    </div></div>

    <div class="col"><div class="panel panel-default">
      <div class="profile-title">Developer</div>
      <div class="panel-heading">Ian Mutahi</div>
      <%= image_tag("placeholder-profile.jpg", :alt => "Placeholder", :class => "profile-pictures") %>
      <p class="profile-info">Bio</p>
    </div></div>
</div>
</div>

<hr class="divider">
