<p id="notice"><%= notice %></p>

<div class="header"><h1>About</h1>
</div>

<hr class="divider">



<section class="header  text-center">
  <h2>TalonAgency.com Design Team</h2>
</section>

<div class="container">
  <div class="row">
    <div class="col col-md-6"><div class="panel panel-default">
      <div class="panel-heading">Dominick Licciardi</div>
      <div class="profile-title">Developer</div>
      <%= image_tag("placeholder-profile.jpg", :alt => "Placeholder", :class => "profile-pictures") %>
      <div class="social-icon-container">
    <a href="https://www.linkedin.com/in/dominicklicciardi"><i class="profile-social-icons bi bi-linkedin"></i></a>
    <a href="https://github.com/DominickNola"><i class="profile-social-icons bi bi-github"></i></a>
</div>
      <p class="profile-info"> Computer Science - MSU 2021 <br> Web-App | Network Security | Machine Learning <br>
    </div></div>

    <div class="col col-md-6"><div class="panel panel-default">
      <div class="panel-heading">Warren Ramos</div>
      <div class="profile-title">Developer</div>
      <%= image_tag("warren-profile.jpg", :alt => "Warren' Image", :class => "profile-pictures") %>
      <div class="social-icon-container">
        <a href="https://www.linkedin.com/in/warren-joseph-ramos"><i class="profile-social-icons bi bi-linkedin"></i></a>
        <a href="https://github.com/WarrenJRamos"><i class="profile-social-icons bi bi-github"></i></a>
</div>
      <p class="profile-info">Warren is a curious student, seeking edification in full stack development through his first major web app project, Talon Agency. He assisted the front-end, back-end, and testing teams with a focus on developing strategies for overcoming blockers and integrating new functionality. He is graduating on May 14, 2021, and plans to get certified in full stack development before landing a job in the field of web development.</p>

    </div></div>

    <div class="col col-md-6"><div class="panel panel-default">
      <div class="panel-heading">Jose Velasquez</div>
      <div class="profile-title">Developer</div>
      <%= image_tag("jose-profile.jpg", :alt => "Jose Image", :class => "profile-pictures") %>
      <div class="social-icon-container">
        <a href="https://www.linkedin.com/in/jose-velasquez-dev"><i class="profile-social-icons bi bi-linkedin"></i></a>
        <a href="https://github.com/josevdevr"><i class="profile-social-icons bi bi-github"></i></a>
</div>
      <p class="profile-info">Jose is in his senior year at Metropolitan State University and will graduate Spring 2021 with a bachelors degree in Computer Science. As part of both the backend and front-end teams, he helped with meeting sprint objectives and goals. His favorite part of working on the Talon Agency Project was working with and learning from other fellow team members. Jose is looking to pursue a career in web development after graduation</p>
    </div></div>

    <div class="col col-md-6"><div class="panel panel-default">
      <div class="panel-heading">Grant Schumacher</div>
      <div class="profile-title">Developer</div>
      <%= image_tag("Grant-profile.png", :alt => "Grant Image", :class => "profile-pictures") %>
      <div class="social-icon-container">
        <a href="https://www.linkedin.com/in/grant-schumacher"><i class="profile-social-icons bi bi-linkedin"></i></a>
        <a href="https://github.com/GrantSchumacher"><i class="profile-social-icons bi bi-github"></i></a>
</div>
      <p class="profile-info">Grant is graduating from MSU Denver spring 2021. He enjoys front end web development, and finds fulfillment in delivering consistent, creative designs and user experiences on the web. His contributions to Talon Agency were in front end design and implementation, user experience, testing, and contributions to the backend. Grant plans on pursuing a career in front end web development after graduation.</p>
    </div></div>

    <div class="col col-md-6"><div class="panel panel-default">
      <div class="panel-heading">Stuart Griffin</div>
      <div class="profile-title">Developer</div>
      <%= image_tag("placeholder-profile.jpg", :alt => "Placeholder", :class => "profile-pictures") %>
      <div class="social-icon-container">
        <a href="https://www.linkedin.com/in/stuart-griffin-54a7a7116"><i class="profile-social-icons bi bi-linkedin"></i></a>
        <a href="https://github.com/griff8434"><i class="profile-social-icons bi bi-github"></i></a>
</div>
      <p class="profile-info"> Computer Science - MSU 2021 <br> Penetration Testing | Dark Web Exploration <br>
    </div></div>

    <div class="col col-md-6"><div class="panel panel-default">
      <div class="panel-heading">Mohammad Mansoor</div>
      <div class="profile-title">Developer</div>
      <%= image_tag("muhammad-profile.jpg", :alt => "Muhammad Image", :class => "profile-pictures") %>
      <div class="social-icon-container">
        <a href="https://www.linkedin.com/in/mohammad-mansoor-875678197"><i class="profile-social-icons bi bi-linkedin"></i></a>
        <a href="https://github.com/mmansoo1"><i class="profile-social-icons bi bi-github"></i></a>
</div>
      <p class="profile-info">Mohammad is currently a senior at MSU Denver graduating in May 2021 with a Bachelor's in Computer Science. As part of the frontend team, Mohammad helped shaped the overall UI of the website and made it a responsive experience for all users. After graduation, he plans to pursue a career in software engineering and add to his skills as a web developer.</p>
    </div></div>

    <div class="col col-md-6"><div class="panel panel-default">
      <div class="panel-heading">Ian Mutahi</div>
      <div class="profile-title">Developer</div>
      <%= image_tag("ian-profile.jpg", :alt => "Ian Profile", :class => "profile-pictures") %>
      <div class="social-icon-container">
        <a href="https://www.linkedin.com/in/ian-mutahi-759b39185r"><i class="profile-social-icons bi bi-linkedin"></i></a>
        <a href="https://github.com/imutahi"><i class="profile-social-icons bi bi-github"></i></a>
</div>
      <p class="profile-info">Ian is a Senior at MSU Denver graduating in May 2021 with a Bachelors in Computer Science. As part of both the front end and the back end teams, Ian worked with the team to collectively meet the required goals for our Sprints. After graduation, he plans to pursue a career in Software Engineering</p>
    </div></div>
</div>
</div>

<hr class="divider">
