<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

<div class="container-fluid center">
  <main>
    <div class="container-fluid" style="padding-top:70px; padding-bottom:25px;">
    <a class="talon-brand" href="#">
    <img src=<%=asset_path('TalonAgencyLogo.png')%> width="50" height="50" class="d-inline-block align-top" alt="">
    Talon Agency
  </a> </div>


  <div class="container-fluid">
    <div class="row">
      <h1 class="talon-landing-header"> The most comprehensive background checks in the US </h1>
    </div>

    <div class="row mb-5">
      <div class="col">
        <%= link_to 'Sign Up', 'auth/auth0', method: :post, class: 'btn shadow-sm primary-signup', 'aria-current' => "page" %>
        <%= link_to 'Login', 'auth/auth0', method: :post, class: 'btn shadow-sm primary-login', 'aria-current' => "page" %>
     </div>
    </div>
  </div>

  <div class="container-fluid" style="margin-top:180px;">
    <div class="row">
      <div class="col-4">
        <div class="media">
          <img width="50%" height="50%" style="border-radius:20px;" class=" align-middle w-100" src="/american-eagle.jpg" alt="American Eagle Image">
        </div>
      </div>
      <div class="col-2">I'm coluimn witdh 1</div>
      <div class="col-6">I'm column witdth 6</div>
    </div>

    <div class="row">
      <div class="col-4"> I'm column width 4</div>
      <div class="col-1">I'm coluimn witdh 1<div>
      <div class="col-4">I'm column witdth 6</div>
    </div>

    <div class="row mt-5">

        <div class="col-4">
          <div class="media">
          <img width="50%" height="50%" style="border-radius:20px;" class=" align-middle w-100" src="/american-eagle.jpg" alt="American Eagle Image">
        </div>
        
        <div class="col-1">
        
        </div>

      <div class="col-6">
        <h3 class="text-left " style="margin-top:50px; margin-bottom: 50px; color: #9c9c9c;">All of the details of a comprehensive background check without the work. Recieve and disbribute fast and secure comprehensive background checks all online. <h3>
      </div>

      </div>
    </div>

    

  </div>
    <!--<section class="  image_insert">-->
    <!--<%= link_to 'My Login', 'auth/auth0', method: :post, class: 'flex-sm-fill text-sm-center nav-link', 'aria-current' => "page" %>-->
    <!--<%= link_to 'Logout', '/logout',  class: 'flex-sm-fill text-sm-center nav-link', 'aria-current' => "page" %>-->
    <%#= link_to 'User profile', '/home/show', class: 'flex-sm-fill text-sm-center nav-link', 'aria-current' => "page"%>

    <br>



   <!-- <div class="row">
      <div class="col-md-12">
        <br>

        <h1 class="h2 text-center">Welcome to Talon Agency | 800-501-3256</h1>
      </div>
    </div>
    <hr style="border: 2px outset #595955;">
    <div class="text-center">
      <img width="30%" height="30%" class="fade-in" src="/american-eagle.jpg" alt="American Eagle Image">
    </div>
    <br />
    <h3 class="text-center lead" >We provide the most comprehensive background checks in the US.</h3><br>-->
  </main>
</div>