<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_name %>
    <%= form.text_field :client_name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :maiden_name %>
    <%= form.text_field :maiden_name %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.text_field :dob %>
  </div>

  <div class="field">
    <%= form.label :ssn %>
    <%= form.text_field :ssn %>
  </div>

  <div class="field">
    <%= form.label :dl_num %>
    <%= form.text_field :dl_num %>
  </div>

  <div class="field">
    <%= form.label :dl_state %>
    <%= form.text_field :dl_state %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.number_field :client_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
