<p id="notice"><%= notice %></p>

<p>
  <strong>Client name:</strong>
  <%= @request.client_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @request.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @request.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @request.last_name %>
</p>

<p>
  <strong>Maiden name:</strong>
  <%= @request.maiden_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @request.dob %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @request.ssn %>
</p>

<p>
  <strong>Dl num:</strong>
  <%= @request.dl_num %>
</p>

<p>
  <strong>Dl state:</strong>
  <%= @request.dl_state %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @request.notes %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @request.client_id %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
