<p id="notice"><%= notice %></p>
<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>
<div class="header">
  <h1><a href="/home/index"><img src=<%=asset_path('TalonAgencyLogo.png')%> width="45" height="41" class="d-inline-block align-top"  alt=""></a>
    Talon Agency Confirmation</h1>
</div>
<hr style="border: 1px outset #595955;">
<div class="">
  <div class="background">
    <%= image_tag("https://i.postimg.cc/nh9yZWt2/Talon-Agency-Logo.png", alt: "TALON AGENCY") %>
  </div>
  <div class="product">
    <hr style="border: 1px outset #595955;">

    <h2>Thanks, you paid <strong><%= $grand_total %></strong>!</h2>
  </div>
</div>
